:root {
    --font-dm-sans: "DM Sans", sans-serif;
}

body {
    background-color: #000;
    font-family: var(--font-dm-sans);
}

.sidebar {
    width: 300px;
    padding: 12px;
    display: fixed;
    top: 0;
    left: 0;
}

.sidebar__navigation {
    background-color: #121212;
    border-radius: 8px;
    cursor: pointer;
}

.sidebar__navigation .logo {
    padding: 16px 0 0 16px;
}

.sidebar__navigation ul {
    padding: 0 20px 10px 20px;
    margin-top: 20px;
}

.sidebar__navigation ul li {
    padding: 10px 0;
}

.sidebar__navigation ul li a {
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.sidebar__navigation ul li .fa {
    font-size: 20px;
    font-weight: 300;
    margin-right: 10px;
}

.logo img {
    width: 80px;
}