:root {
    --font-dm-sans: "DM Sans", sans-serif;
}

body {
    background-color: #000;
    font-family: var(--font-dm-sans);
}

.sidebar {
    width: 300px;
    padding: 12px;
    display: fixed;
    top: 0;
    left: 0;
}

.sidebar__navigation {
    background-color: #121212;
    border-radius: 8px;
    cursor: pointer;
}

.sidebar__navigation .logo {
    padding: 16px 0 0 16px;
}

.sidebar__navigation ul {
    padding: 0 20px 10px 20px;
    margin-top: 20px;
}

.sidebar__navigation ul li {
    padding: 10px 0;
}

.sidebar__navigation ul li a {
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.sidebar__navigation ul li .fa {
    font-size: 20px;
    font-weight: 300;
    margin-right: 10px;
}

.logo img {
    width: 80px;
}

/* Biblioteca */

.library {
    background-color: #121212;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 8px;
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.library .library__content {
    display: flex;
    justify-content: space-between;
} 

.library .library__button {
    background-color: transparent;
    color: #b3b3b3;
    padding: 20px 10px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border: 0;
    margin-right: 10px;
    text-transform: none;
    display: flex;
    cursor: pointer;
}

.library .library__button .fa {
    padding-right: 8px;
    font-size: 20px;
    font-weight: 300;
    margin-right: 10px;
}

.library .library__content .fa-plus {
    margin: 24px 10px;
}