body {
    background-color: #000;
    font-family: var(--font-dm-sans);
}

.sidebar {
    width: 300px;
    padding: 12px;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar__navigation {
    background-color: #121212;
    border-radius: 8px;
    cursor: pointer;
}

.sidebar__navigation .logo {
    padding: 16px 0 0 16px;
}

.sidebar__navigation ul {
    padding: 0 20px 10px 20px;
    margin-top: 20px;
}

.sidebar__navigation ul li {
    padding: 10px 0;
}

.sidebar__navigation ul li a {
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.sidebar__navigation ul li .fa {
    font-size: 20px;
    font-weight: 300;
    margin-right: 10px;
}

.logo img {
    width: 80px;
}

.library {
    background-color: #121212;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 8px;
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.library .library__content {
    display: flex;
    justify-content: space-between;
} 

.library .library__button {
    background-color: transparent;
    color: #b3b3b3;
    padding: 20px 10px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border: 0;
    margin-right: 10px;
    text-transform: none;
    display: flex;
    cursor: pointer;
}

.library .library__button .fa {
    padding-right: 8px;
    font-size: 20px;
    font-weight: 300;
    margin-right: 10px;
}

.library .library__content .fa-plus {
    margin: 24px 10px;
}

.section-playlist {
    background-color: #242424;
    color: #b3b3b3;
    padding: 16px 20px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    margin: 8px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

.section-playlist .section-playlist__content {
    display: flex;
    flex-direction: column;
}

.section-playlist__content .text {
    padding-bottom: 14px;
    color: #fff;
}

.section-playlist__content .title {
    font-weight: 700;
}

.section-playlist__content .subtitle {
    font-size: 12px;
    font-weight: 500;
}

.section-playlist__content .section-playlist__button {
    background-color: #fff;
    color: #000;
    width: 113px;
    padding: 10px;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    border: 0;
    border-radius: 20px;
    margin-top: 12px;
    display: flex;
    justify-content: center;
}

.sidebar .cookies {
    margin: 25px 20px;
}

.sidebar .cookies a {
    color: #b3b3b3;
    font-size: 10px;
    font-weight: 500;
    text-decoration: none;
}

.sidebar .cookies a:hover {
    text-decoration: underline;
}

.languages .languages__button {
    background-color: transparent;
    color: #fff;
    width: 170px;
    padding: 8px;
    align-items: center;
    font-weight: bold;
    border: 1px solid #878787;
    border-radius: 20px;
    margin: 8px;
    cursor: pointer;
}

footer {
    background-image: linear-gradient(to right, #040113 , #0615f3);
    color: #fff;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.rodape-text .rodape-text__title {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.rodape-text .rodape-text__subtitle {
    font-size: 14px;
    font-weight: 500;
}

.button__container button {
    font-size: 18px;
    font-weight: 600;
    padding: 12px 24px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    flex-shrink: 0;
}